<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Robot67">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="4.22090353071666E-17 1.06356686790483E-17 0.00653540570447093"
        rpy="0 0 0" />
      <mass
        value="0.664982297150257" />
      <inertia
        ixx="0.00329856876483954"
        ixy="7.54388718648361E-19"
        ixz="5.0383236756357E-20"
        iyy="0.00329856876483953"
        iyz="4.66545178511237E-19"
        izz="0.00652792878718117" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASm13.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASm13.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-0.001425 2.2279E-16 0.21022"
        rpy="0 0 0" />
      <mass
        value="2.9332" />
      <inertia
        ixx="0.041136"
        ixy="2.0885E-19"
        ixz="0.00016627"
        iyy="0.040993"
        iyz="-4.7403E-17"
        izz="0.0037366" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASm13.SLDASM/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASm13.SLDASM/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q1"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.072575 -3.9001E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.25536" />
      <inertia
        ixx="8.8375E-05"
        ixy="2.5244E-19"
        ixz="6.0839E-20"
        iyy="0.0018664"
        iyz="1.2315E-20"
        izz="0.0018635" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASm13.SLDASM/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASm13.SLDASM/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q2"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.24"
      effort="1000"
      velocity="1.0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.10777 -8.6534E-07 8.3267E-17"
        rpy="0 0 0" />
      <mass
        value="0.10713" />
      <inertia
        ixx="1.0277E-05"
        ixy="1.0635E-08"
        ixz="-3.1729E-19"
        iyy="0.00056067"
        iyz="-5.9023E-21"
        izz="0.00056067" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASm13.SLDASM/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ASm13.SLDASM/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q3"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0.18"
      effort="1000"
      velocity="1.0" />
  </joint>
</robot>